@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides(
    (
      filled-container-shape: '6px',
      outlined-container-shape: '6px',
    )
  );
  @include mat.badge-overrides(
    (
      background-color: blue,
    )
  );
}
.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: red,
      supporting-text-color: white,
    )
  );
}
.snackbar-success {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: green,
      supporting-text-color: white,
    )
  );
}